@font-face {
    font-family: "Future";
    src: url("fonts/Kenney_Future_Narrow.ttf");
}

/* .navbar {
    width: 100%;
    background-color: #555;
    overflow: auto;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
}
  
.navbar a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background-color: #000;
}
  
.active {
    background-color: #80BE1F;
} */
  
@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
}

:root{
	--main-background: #0b0c0f;
	--main-fonts-color: #fff;
	--main-decor-color:#19B20E;
  	--main-header-background:#21252e;
	--main-font-family: 'Future', sans-serif;
  	--green: #A0DB44;
  	--blue:#00a9e2;
  	--title-background:#19B20E;
}

*{
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
    /* font-family: 'Roboto', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Future', sans-serif; */
}

main{
	padding: 0;
	width: 100%;
	height: 100%;
	background: var(--main-background);
}

header{
	margin: 0 auto;
	width: 100%;
	height: 70px;
	display: flex;
    align-items: center; 
	justify-content: space-around; 
    background: transparent;
	position: fixed;
	top: 0;
	transition: 0.3s;
	z-index: 5;
}
.nav-show{
	opacity: 0;
}

header:hover{
	opacity: 1;
	background: var(--main-header-background);
}

.logo img{
	padding-top: 5px;
	height: 50px;
	cursor: pointer;
}

.nav-bar{
	list-style:none;
	position: relative;
	display: inline-flex;
}

a.nav-link{
	margin: 2px;
	padding: 5px 10px;
	text-decoration: none;
	color: var(--main-fonts-color);
	font-family: var(--main-font-family);
	cursor: pointer;
	text-transform: uppercase;
}

.active{
	background: var(--main-decor-color);
}

.nav-link{
    font-family: 'Future', sans-serif;
}

.nav-link:hover {
	color: #000000;
    background: var(--main-decor-color);
}

#privacypolicy{ 	
	margin: auto;
	/* height: 100vh; */
	color: var(--main-fonts-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background: var(--main-background);
}

#privacypolicy #boxing{
	width: 1920px;
	margin-top: 80px;
}

@media (max-width: 2016px){
	#privacypolicy #boxing{
		width: 95%;
	}
}

#privacypolicy ul{
	margin-left: 50px;
}